<!DOCTYPE html>
<html>
<head>
	<title>home page</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link rel="icon" href="../image/logo.png" type="image/png" sizes="16x16">
	
</head>
<body>

<ul>
	<li><img src="../image/logo.png"></li>
  <li><a class="active" href="signup.html" target="_blank">Sign up</a></li>
  <li><a href="../html/login.html">Log in</a></li>
  <li><a href="#contact">Home</a></li>
</ul>
	<div class="containt">
		<div class="containt-item">
			<h2>Hyper helps you to mange your day.</h2>
			<p>“Time management” is the process of organizing and planning how to divide your time between specific activities</p>
			<div class="sign-up-container">
				<input type="email" name="email" placeholder="Email">
				<a href="signup.html"><input type="submit" name="" value="Sign up - it's free"></a>
			</div>
		</div>
		<div class="containt-item">
			<img src="../image/image1.webp">
		</div>
	</div>
	<footer>
		<p style="padding-top:20px;text-align: center;"> Copyright &copy; 2021 </p>
	</footer>
</body>
</html>
