{% extends './base.html' %}
{% load static %}
{% block title %}login{% endblock title %}

{% block main-content %}
<div class="container">
	{% if messages %}
	{% for message in messages %}
	<h6 {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</h6>
	{% endfor %}
	{% endif %}
	<header>
		<img src="{% static 'image/logo.png' %}">
	<!-- <h3>Hyper</h3> -->
</header>
	<form name="" method='POST'>
		{% csrf_token %}
		<table>
			<tr>
				<td><i class="material-icons">person</i></td>
				<td><input type="text" name="username" placeholder="Username" id="em" required="true" class='login-input' autofocus></td>
			</tr>
			<tr>
				<td><i class="material-icons">lock</i></td>
				<td><input type="password" name="password" placeholder="Password" id="pas" required="true" class='login-input'><span class='material-icons' id='visit'>visibility_off</span></td>
			</tr>
		</table>
		<input type="submit" name="" value="Log in" class='btn'>
	</form>
	<div class='forget'>
		<a href="{% url 'signup' %}">Signup?</a>
	</div>
</div>
{% endblock main-content %}